body{
    background-color: #6abadeba;;
}
#vietb{
    margin-top: 34px;
    background-color: aquamarine;
    border: 5px solid ghostwhite;
    

}
h1{
    text-align: center;
}
th{
    font-size: 20px;
    font-weight: bold;
}